@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>created by</p>
<ul>
    <li> Gianfranco Fertino Hwandiano – 13515118</li>
    <li> Rizki Ihza Pratama – 13515104 </li>
    <li> Kevin Erdiza Yogatama – 13515016</li
</ul>
